script(type="text/javascript", src="https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js")
script(type="text/javascript", src="http://code.jquery.com/jquery-1.11.1.min.js")
script(type="text/javascript", src="/js/bootstrap.min.js")
script(type="text/javascript", src="/js/jquery.history.js")
script(type="text/javascript", src="/js/bundle.js")
